.logo {
  @media(max-width:1200px){
    width: 200px;
    height: auto;
  }
  @media(max-width:420px){
    width: 150px;
    height: auto;
  }
}

#event {
  .swiper-scrollbar {
    top: calc(50% + 38rem);
    @media(max-width:420px){
      top: calc(50% + 18rem);
    }
  }  
}

.main_banner_title {
  font-size: 140px;
  @media (min-width: 421px) and (max-width: 1199px) {
    font-size: clamp(80px, 3vw + 120px, 140px);
  }
  @media(max-width:420px){
    font-size: 90px;
  }
  font-family: $mainFont700;
}

.main_banner_sub {
  font-size: 64px;
  line-height: 5rem;
  font-family: $mainFont700;
  letter-spacing: -0.20rem;
   @media (min-width: 421px) and (max-width: 1199px) {
    font-size: clamp(40px, 2vw + 60px, 64px);
    line-height: 4rem;
    letter-spacing: -0.2rem;
  }
  @media(max-width:420px){
    font-size: 40px;
    line-height: 3rem;
    letter-spacing: -0.15rem;
  }
}

.main_banner_mid {
  font-size: 30px;
  font-family: $mainFont500;
  @media (min-width: 421px) and (max-width: 1199px) {
    font-size: clamp(20px, 2vw + 20px, 30px);
  }
  @media(max-width:420px){
    font-size: 20px;
    line-height: 1.5rem;
  }
}

.main_banner {
  @media(max-width:1200px){
    padding-top: 11rem;
  }
  @media(max-width:420px){
    padding-top: 9rem;
  }
}

.vartical_text {
  position: absolute;
  transform: translateY(-50%) rotate(-90deg);
  top: 70%;
  transform-origin: left top;
  left: 0.5rem;
  @media(max-width:1200px){
    top: 60%;
  }
  @media(max-width:420px){
    top: 75%;
  }
}

.main_img {
  width: 100%;
  aspect-ratio: 640 / 1080;
  @media(max-width:1200px){
    aspect-ratio: 768 / 1231;
  }
  @media(max-width:420px){
    aspect-ratio: 375 / 601;
  }
}
.main_mi_img {
  background: url('../img/main_minimal.jpg') no-repeat center / cover;
}

.main_up_img {
  background: url('../img/main_upcycling.jpg') no-repeat center / cover;
}

.main_pre_img {
   background: url('../img/main_premium.jpg') no-repeat center / cover;
}



// 기획전 1,2,3 텍스트
.event_main_title {
  font-family: $mainFont700;
  // letter-spacing: -0.1rem;
  font-size: var(--fs-event-main);
}

.event_sub_txt {
  font-family: $mainFont700;
  letter-spacing: -1px;
  line-height: 150%;
  font-size: var(--fs-event-sub);

  &.shadow_text {
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  }
  @media(min-width: 1200px) {
    line-height: 70px;
  }
}

.event_mid_txt {
  letter-spacing: -0.5px;
  line-height: 150%;
  font-size: var(--fs-event-mid);
}

// 기획전 이미지
.event_img {
  @media(max-width:1200px){
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    padding: 2rem;
  }
  @media(max-width:420px){
    padding:0.5rem;
  }
}

.event_img1 {
  background: url('../img/event/event1_main.jpg') no-repeat center center / cover;
}
.event_img2 {
  background: url('../img/event/event2_main.jpg') no-repeat center center / cover;
}
.event_img3 {
  @media(min-width:1200px){
    background: url('../img/event/event3_main.jpg') no-repeat center center / cover;
    padding: min(2vw, 50px);
  }
  @media(max-width:1199px){
    background: url('../img/event/event3_main_mb.jpg') no-repeat center center / cover;
  }
}


//기획전 상품
.prod_name {
  font-family: $mainFont700;
  font-size: var(--fs-body-md);
  text-wrap: nowrap;
  line-height: 1;
}

.prod_cost {
  font-family: $mainFont500;
  font-size: var(--fs-body-sm);
  color: #adadad;
  line-height: 1;
  text-decoration: line-through;
}

.prod_price {
  font-family: $mainFont700;
  font-size: var(--fs-body-md);
  color: $mainColor;
  line-height: 1;
  margin-top: 0.5rem;
}

.prod_price_set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .prod_text {
    @include flex-column;
    @include flex-center;
  }
  .prod_price_set {
    @include flex-column;
  }
}

//뱃지
.badge-group {
  position: absolute;
  right: clamp(5px, 1vw, 10px);
  bottom: clamp(5px, 1vw, 10px);
  display: flex;
  gap: clamp(2px, 0.5vw, 4px);
}

.badges{
  @include flex-center;
  font-family: $mainFont700; 
 
  strong {
    @include flex-center;
    width: 3.5em;
    height: 3.5em;
    font-size: var(--fs-body-sm);
    border-radius: 50%;

    @media (max-width: 420px) {
      width: 2rem;
      height: 2rem;
    }
  }
  .eco {
    background-color: $subColor;
    color: white;
  }
  .sale {
    background-color: $mainColor;
    color: white;
  }
}

//태그
.tag {
  background-color: #1d220c95;
  border-radius: 50px;
  font-size: var(--fs-body-md);
  line-height: var(--bs-body-line-height);

  &.bg-color {
    background-color: #713131cc;
  }
}

//배너
.banner_set {
  margin-top: clamp(2rem, 1vw + 1.5rem, 70px);

  .banner_img1 {
     background: url(../img/event/mi_banner.jpg) no-repeat center 42% / cover;
    
    @media (max-width: 1199px) {
      background: d-none;
      background-color: #713131cc;
      width: 100%;
    }
  }
  .banner_eco1 {
    background: url(../img/event/eco_banner2.jpg) no-repeat center center / cover;
  }

  .banner_eco2 {
    background: url(../img/event/eco_banner1.jpg) no-repeat center center / cover;
  }

  &.banner_gap {
    gap: clamp(5px, 1vw + 4px, 10px);
  }

  strong {
    font-size: var(--fs-body-md);
    line-height: 1.5;        
  }

  span {
    font-size: 15px;
    line-height: 1.5;
  }
}

.percent {
  font-family: $mainFont700;
  @include flex-center;
  @media(max-width:420px){
    font-size: 35px;
  }

  @media(min-width:420px){
  font-size: clamp(40px, 2vw + 38px, 90px);
  }
}

.section_title {
  font-family: $mainFont700;
  font-size: var(--fs-title-lg);
}

.section_subtitle {
  font-size: var(--fs-title-md);

  &.soft_text {
    color: #11111180;
    @media(max-width:1200px){
      color: #FFFFFF80;
    }
  }
  &.subtxt_gap {
    gap: clamp(15px, 1vw + 14px, 35px);
  }
}

.text_md {
  font-size: var(--fs-body-md);

  &.line_h {
    line-height: 1.8rem;
  }
  &.gray_text {
    color: #999;
  }
  &.mdtxt_gap {
    gap: clamp(15px, 1vw + 14px, 35px);
  }
}

.text_sm {
  font-size: var(--fs-body-sm);
  &.gray_text {
    color: #999;
  }
}

.percent {
  font-family: $mainFont700;
  @include flex-center;
  @media(max-width:420px){
    font-size: 35px;
  }

  @media(min-width:420px){
  font-size: clamp(40px, 2vw + 38px, 90px);
  }
}

.swiper-scrollbar {
  background: #e0e0e0 !important;
  height: 1px !important;
  width: calc(70% - 2 * var(--swiper-scrollbar-sides-offset, 1%)) !important;
}


// 취향찾기

@media (max-width: 1200px) {
  #taste {

    .options {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
      width: auto !important;
    }

    .progress-fixed-wrapper {
      width: 400px !important;
      top: calc(50% + -1.3rem) !important;
      left: 6.5rem !important;
    }
  }
}

@media (max-width:768px) {
  #taste {
    .swiper-button-prev:after,
    .swiper-button-next:after { 
      font-size: 18px;
    }

  .progress-fixed-wrapper {
      width: 350px !important;
      top: calc(50% + -1.5rem) !important;
      left: 4rem !important;
    }
  }
}

@media (max-width:420px) {
  #taste {
    .options {
      margin-top: 3rem !important;
    }

    .progress-fixed-wrapper {
      width: 260px !important;
      top: calc(50% + -1.3rem) !important;
      left: 2.5rem !important;
    }
  }
}
  
  .swiper-scrollbar {
    width: 500px;
    height: 2px;
    background: #ddd;
  }

  .swiper-pagination {
    font-size: 14px;
    color: #333;
    min-width: 25px;
    
    @media(max-width:420px){
      font-size: 12px;
    }
  }

  .option-btn {
    border: 1px solid #909090;
    font-size: var(--fs-body-md);
    font-family: $mainFont500;
    gap: 0.5rem;
    border-radius: 3rem;
    @include flex-center;

    &.border_none{
     border: none;
    }

    &.border_white{
      border: 1px solid white;
    }

    &.min_w{
      min-width: 200px;
      @media (max-width:1200px){
        min-width: 160px;
      }
      @media (max-width:768px){
        min-width: 120px;
      } 
    }

    &.min_h{
      min-height: 70px;
      @media (max-width:1200px){
        min-height: 60px;
      }
       @media (max-width:768px){
        min-height: 50px;
      }
    }

    &:hover {
      background-color: $mainColor !important;
      color : white;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #ADADAD;
    top: calc(50% + 6.5rem);
    z-index: 10;
  }

  .swiper-button-next {
    pointer-events: none;
  }

  .top_fixed_box {
    z-index: 10;
  }

  .progress-fixed-wrapper {
    gap: 10px;
    width: 420px;
    top: calc(50% + 3.5rem);
    left: 108px;
  }

  .taste_icon {
    width: 68.333px;
    height: 50px;
  }

  .q_num {
    font-family: $mainFont700;
  }

  .position-unset {
    position: unset !important;
  }

.interior_box{
  @media(max-width:1199px){
    background-color: $mainColor;
    color: white;
  }
}