
.body{
  margin: 0;
  padding-top: 130px; /* 헤더 높이만큼 위쪽 공간 확보 */
}

.premium_div, .upcycling_div, .minimal_div {
  background-size: cover;
  background-position: center;
}

.review_title{
    font-size:30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.review_title h4{
    font-size:30px;
    font-weight: bold;
}

.review_swiper {
    width: 1500px;
    height: 600px;
    margin-bottom: 50px;
}

.review_swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #EDDFDF;
    /*display: flex;*/ /*가로 또는 세로 방향으로 자동 정렬되고 배치됩니다.*/
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.review_swiper .swiper-button-next,
.review_swiper .swiper-button-prev {
    color: white !important;
    user-select: none;
}  

.review1{
    background-image: url(../img/review1.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review1_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review1_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}
.review1_star_display{
    /*width: 70%;*/
    /*height :10%;*/
    /*height: 50%;*/
    /*display: flex; */           /* 가로 정렬 시작 */
    /*gap: 0px; */               /* 박스 사이 간격 (선택) */
    margin-bottom: 10px;
}
.review1_star{
    background-image: url(../img/star.png);
    /*width: 100%;*/
    /*height: 100%;*/
    width:30px;
    height:31px;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/  /* 배경 이미지 반복 안함 */
}
.review_footer{
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: 500; /* medium에 해당 */
    color:#8D8989;
}



.review2{
    background-image: url(../img/review2.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review2_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review2_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}

.review3{
    background-image: url(../img/review3.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review3_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review3_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}
.review4{
    background-image: url(../img/review4.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review4_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review4_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}
.review5{
    background-image: url(../img/review5.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review5_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review5_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}

.wrapper_btn{
    text-align: right;
    margin-bottom: 20px;
    max-width: 90%;
}
.review_btn{
    background-color: #713131;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}
.review_btn:hover{
    background-color: white;
    color: #713131;
}
.review_btn svg{
    fill: white;
}
.review_btn:hover svg{
    fill: #713131;
}

.review_instar_btn{
    background-color: #713131;
    color: white;
    width:280px; 
    height: 50px;   
    border-radius: 30px;
}
.review_instar_btn:hover{
    background-color: white;
    color: #713131;
}
.review_instar_btn:hover svg path{
    fill: #713131;
}
.review_bold {
  font-weight: bold;  /* 또는 숫자로: 600, 700 등 */
}
.review_word{
    display: flex;
    background-color: #F6F1EB;
    color:#713131;
    justify-content: center;    /* 가로 중앙 정렬 */
    height:100px;
    align-items: center;
    font-size:20px;
}
.lineup_picture1_wrapper{
    position: relative;
    width: 960px;
    height: 700px;
    overflow: hidden;
}
.lineup_picture1{
    background-image: url(../img/lineup_picture1.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
    background-size: cover;
    position: absolute;
  
  
}
.lineup_picture1_content{
    position: relative;
    z-index: 1; /* 텍스트가 위에 보이게 */
    color: #713131;
    text-align: center;
    margin-top:350px;
    font-size: 30px;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; /* 줄바꿈 방지 */
}
.lineup_picture1_content p {
  margin: 0;
  white-space: pre-line; /* br 줄바꿈만 반영 */
  line-height: 0.5; /* 줄간격 줄이기 */
}
.lineup_picture1_content strong {
  font-weight: bold;
  line-height: 1.1; /* strong 안 줄간격도 줄이기 */
}
.lineup_picture1_arrow{
    background-image: url(../img/lineup_picture1_arrow.png);
}
.lineup_picture2_wrapper{
    position: relative;
    width: 960px;
    height: 350px;
    overflow: hidden;    
}
.lineup_picture2{
    background-image: url(../img/lineup_picture2.jpg);   
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: 0;
    background-size: cover;
    position: absolute;

}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 레이어 */
  z-index: 1;
  pointer-events: none; /* 클릭 이벤트 무시 */
}
.lineup_picture2_content{
    position: relative;
    z-index: 1; /* 텍스트가 위에 보이게 */
    color: white;
    text-align: center;
    margin-top:120px;
    font-size: 30px;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; /* 줄바꿈 방지 */
}
.lineup_picture3_wrapper{
    position: relative;
    width: 960px;
    height: 350px;
    overflow: hidden;    
}
.lineup_picture3{
    background-image: url(../img/lineup_picture3.jpg);
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 0;
    background-size: cover;
    position: absolute;
    
}

.lineup_picture2_p{
    margin-bottom: 0;
}
.lineup_picture3_p{
    margin-bottom: 0;
}
.main_point_bg {
  background-color: #713131;
}
.footer {
  font-size: 15px;
  color: white;
}
.footer_wrapper {
  padding: 180px 70px 100px 70px;
}
.footer_d-flex-custom{
  gap:80px;
}
.footer_customer_center {
  font-size: 20px;
  color: white;
}
