/* 수정할것 */
body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #fff;
  }
   
  .ecoevent {
    max-width: 1450px;
    margin: 0 auto;
  }

  
  /* 스와이퍼 */
  .swiper-slide{
    background-color: orange;
    text-align: end;
    justify-content: center;
   
  }
  .swiper{
    height: 798px

  }
  
  .container{
    max-width: 783px;
    display: flex;
  }

  /* 상품 카드 */

  .plan_project_special{
    background-color: gray;
    max-height: 798px;
  }

  .product_set{
    background-color: yellow;
   
  }

  .product_card {
    position: relative;
    border: 1px solid #ddd;
  
        
  }
  
  .product_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product_name {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .product_price {
    color: #713131;
    font-weight: bold;
  }
  
  .product_original {
    color: #888;
    font-size: 13px;
  }

  .product_original, .product_price{
    justify-content: space-between;
  }
  
  /* 뱃지 */
  .eco_badge, .discount_badge {
    top: 10px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 50px;
    height: 55px;
    width: 55px;
    position: absolute;  
}
  
  .eco_badge {
    left: 10px;
    background-color: #6a9c2e;
  }
  
  .discount_badge {
    right: 10px;
    background-color: #800000;
  }
  
  /* 기획전 이미지 */
  .eco_event_img {
    height: 100%;
  }
  
  .eco_event_img h3 {
    font-size: 28px;
  }
  
  .eco_event_img h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .eco_event_img p {
    font-size: 16px;
  }
  .eco_event_img ul {
    font-size: 30px;
  }

  .eco_event_img ul {
    font-size: 13;
  }
  
  /* 광고 배너 */
  .adleftright {
    margin-top: 70px;   
    gap: 10px;
  }

  .adleft {
    background-color: #6a9c2e;
  }
  
  .adright {
    background-color: #2f4f4f;
  }
  
  .adleftright h3 {
    font-size: 20px;
  }
  
  .adleftright p {
    font-size: 14px;
  }
 