@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, ul, li, dl, dt, dd, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  font-family: "Pretendard-400";
}

.line-height-1 {
  line-height: 1;
}

.container_1280 {
  max-width: 1280px;
  margin: 0 auto;
}

.container_1450 {
  max-width: 1450px;
  margin: 0 auto;
}

.container_1650 {
  max-width: 1650px;
  margin: 0 auto;
}

.section_p {
  padding: 3rem 0;
}
@media (min-width: 1280px) {
  .section_p {
    padding-top: 50px;
  }
}
@media (min-width: 1450px) {
  .section_p {
    padding-top: 50px;
  }
}
@media (min-width: 1650px) {
  .section_p {
    padding-top: 100px;
  }
}

.tag {
  font-family: "Pretendard-500";
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  font-size: clamp(16px, 1vw + 16px, 25px);
  display: inline-block;
}

.product_card {
  max-width: 300px;
  flex-wrap: wrap;
  gap: 20px;
}

.prod_name {
  font-family: "Pretendard-700";
  font-size: clamp(14px, 1vw + 14px, 25px);
  margin-top: 19.495px;
}

.product_price_set {
  margin-top: 20px;
}

.prod_cost {
  font-family: "Pretendard-500";
  font-size: clamp(12px, 1vw + 12px, 20px);
  color: #adadad;
  text-decoration: line-through;
}

.prod_price {
  font-family: "Pretendard-700";
  font-size: clamp(14px, 1vw + 14px, 25px);
  color: #713131;
}

.icon_group {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
  gap: 5px;
  font-family: "Pretendard-700";
  font-size: clamp(10px, 1vw + 10px, 15px);
}
.icon_group strong {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_group .eco {
  background-color: #777255;
}
.icon_group .sale {
  background-color: #713131;
}

.body {
  margin: 0;
  padding-top: 130px; /* 헤더 높이만큼 위쪽 공간 확보 */
}

.premium_div, .upcycling_div, .minimal_div {
  background-size: cover;
  background-position: center;
}

.review_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.review_title h4 {
  font-size: 30px;
  font-weight: bold;
}

.review_swiper {
  width: 100%;
  max-width: 1500px;
  height: 600px;
  margin-bottom: 50px;
}

.review_swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #EDDFDF;
  /*display: flex;*/ /*가로 또는 세로 방향으로 자동 정렬되고 배치됩니다.*/
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* 내부 콘텐츠의 최소 너비 확보 */
  min-width: 300px;
}

.review_swiper .swiper-button-next,
.review_swiper .swiper-button-prev {
  color: white !important;
  user-select: none;
  position: absolute;
}

.review1 {
  background-image: url(../img/review1.jpg);
  width: 100%;
  height: 50%;
  /*background-size: contain;*/
  background-size: cover;
  background-repeat: no-repeat; /* 배경 이미지 반복 안함 */
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.review1_title {
  font-family: "Pretendard";
  font-size: 23px;
  font-weight: 500; /* medium에 해당 */
  margin-bottom: 20px;
}

.review1_content {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 500; /* medium에 해당 */
  text-align: left;
  margin-bottom: 10px;
  height: 150px;
}

.review1_star_display {
  /*width: 70%;*/
  /*height :10%;*/
  /*height: 50%;*/
  /*display: flex; */ /* 가로 정렬 시작 */
  /*gap: 0px; */ /* 박스 사이 간격 (선택) */
  margin-bottom: 10px;
}

.review1_star {
  background-image: url(../img/star.png);
  /*width: 100%;*/
  /*height: 100%;*/
  width: 30px;
  height: 31px;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/ /* 배경 이미지 반복 안함 */
}

.review_footer {
  font-family: "Pretendard";
  font-size: 15px;
  font-weight: 500; /* medium에 해당 */
  color: #8D8989;
}

.review2 {
  background-image: url(../img/review2.jpg);
  width: 100%;
  height: 50%;
  /*background-size: contain;*/
  background-size: cover;
  background-repeat: no-repeat; /* 배경 이미지 반복 안함 */
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.review2_title {
  font-family: "Pretendard";
  font-size: 23px;
  font-weight: 500; /* medium에 해당 */
  margin-bottom: 20px;
}

.review2_content {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 500; /* medium에 해당 */
  text-align: left;
  margin-bottom: 10px;
  height: 150px;
}

.review3 {
  background-image: url(../img/review3.jpg);
  width: 100%;
  height: 50%;
  /*background-size: contain;*/
  background-size: cover;
  background-repeat: no-repeat; /* 배경 이미지 반복 안함 */
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.review3_title {
  font-family: "Pretendard";
  font-size: 23px;
  font-weight: 500; /* medium에 해당 */
  margin-bottom: 20px;
}

.review3_content {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 500; /* medium에 해당 */
  text-align: left;
  margin-bottom: 10px;
  height: 150px;
}

.review4 {
  background-image: url(../img/review4.jpg);
  width: 100%;
  height: 50%;
  /*background-size: contain;*/
  background-size: cover;
  background-repeat: no-repeat; /* 배경 이미지 반복 안함 */
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.review4_title {
  font-family: "Pretendard";
  font-size: 23px;
  font-weight: 500; /* medium에 해당 */
  margin-bottom: 20px;
}

.review4_content {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 500; /* medium에 해당 */
  text-align: left;
  margin-bottom: 10px;
  height: 150px;
}

.review5 {
  background-image: url(../img/review5.jpg);
  width: 100%;
  height: 50%;
  /*background-size: contain;*/
  background-size: cover;
  background-repeat: no-repeat; /* 배경 이미지 반복 안함 */
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.review5_title {
  font-family: "Pretendard";
  font-size: 23px;
  font-weight: 500; /* medium에 해당 */
  margin-bottom: 20px;
}

.review5_content {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 500; /* medium에 해당 */
  text-align: left;
  margin-bottom: 10px;
  height: 150px;
}

/* 작은 화면 (모바일) - 버튼 안쪽으로 더 넣기 */
@media (max-width: 1420px) {
  .review_swiper {
    position: relative; /* 기준 컨테이너 */
    overflow: hidden;
  }
  .review-swiper .swiper-button-prev,
  .review-swiper .swiper-button-next {
    left: 20%;
    right: 20%;
  }
}
/* 작은 화면 (모바일) - 버튼 안쪽으로 더 넣기 */
@media (max-width: 320px) {
  .review_swiper {
    position: relative; /* 기준 컨테이너 */
    overflow: hidden;
  }
  .review-swiper .swiper-button-prev,
  .review-swiper .swiper-button-next {
    left: 20%;
    right: 20%;
  }
}
.wrapper_btn {
  text-align: right;
  margin-bottom: 20px;
  max-width: 90%;
}

.review_btn {
  background-color: #713131;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 30px;
}

.review_btn:hover {
  background-color: white;
  color: #713131;
}

.review_btn svg {
  fill: white;
}

.review_btn:hover svg {
  fill: #713131;
}

.review_instar_btn {
  background-color: #713131;
  color: white;
  width: 280px;
  height: 50px;
  border-radius: 30px;
}

.review_instar_btn:hover {
  background-color: white;
  color: #713131;
}

.review_instar_btn:hover svg path {
  fill: #713131;
}

.review_bold {
  font-weight: bold; /* 또는 숫자로: 600, 700 등 */
}

.review_word {
  display: flex;
  background-color: #F6F1EB;
  color: #713131;
  justify-content: center; /* 가로 중앙 정렬 */
  height: 100px;
  align-items: center;
  font-size: 20px;
}

.lineup_picture1_wrapper {
  position: relative;
  width: 960px;
  height: 700px;
  overflow: hidden;
}

.lineup_picture1 {
  background-image: url(../img/lineup_picture1.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
  background-size: cover;
  position: absolute;
}

.lineup_picture1_content {
  position: relative;
  z-index: 1; /* 텍스트가 위에 보이게 */
  color: #713131;
  text-align: center;
  margin-top: 350px;
  font-size: 30px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; /* 줄바꿈 방지 */
}

.lineup_picture1_content p {
  margin: 0;
  white-space: pre-line; /* br 줄바꿈만 반영 */
  line-height: 0.5; /* 줄간격 줄이기 */
}

.lineup_picture1_content strong {
  font-weight: bold;
  line-height: 1.1; /* strong 안 줄간격도 줄이기 */
}

.lineup_picture1_arrow {
  background-image: url(../img/lineup_picture1_arrow.png);
}

.lineup_picture2_wrapper {
  position: relative;
  width: 960px;
  height: 350px;
  overflow: hidden;
}

.lineup_picture2 {
  background-image: url(../img/lineup_picture2.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: 0;
  background-size: cover;
  position: absolute;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 레이어 */
  z-index: 1;
  pointer-events: none; /* 클릭 이벤트 무시 */
}

.lineup_picture2_content {
  position: relative;
  z-index: 1; /* 텍스트가 위에 보이게 */
  color: white;
  text-align: center;
  margin-top: 120px;
  font-size: 30px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; /* 줄바꿈 방지 */
}

.lineup_picture3_wrapper {
  position: relative;
  width: 960px;
  height: 350px;
  overflow: hidden;
}

.lineup_picture3 {
  background-image: url(../img/lineup_picture3.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 0;
  background-size: cover;
  position: absolute;
}

.lineup_picture2_p {
  margin-bottom: 0;
}

.lineup_picture3_p {
  margin-bottom: 0;
}

.main_point_bg {
  background-color: #713131;
}

.footer {
  font-size: 15px;
  color: white;
}

.footer_wrapper {
  padding: 180px 70px 100px 70px;
}

.footer_d-flex-custom {
  gap: 80px;
}

.footer_customer_center {
  font-size: 20px;
  color: white;
}

#upcycling .img_bg {
  background-color: #f5f5f5;
}
#upcycling .event {
  min-width: 375px;
  background-image: url("../img/product/event2_main.jpg");
  background-size: auto 100%;
}
@media (min-width: 991px) {
  #upcycling .event {
    width: 500px;
    background-size: auto 100%;
  }
}
@media (min-width: 1450px) {
  #upcycling .event {
    width: 667px;
    background-size: auto 100%;
  }
}
#upcycling .event_main_title2 {
  font-size: clamp(40px, 2vw + 40px, 100px);
  margin-bottom: 20px;
  font-family: "Pretendard-700";
}
#upcycling .event_title2 {
  font-size: clamp(20px, 1vw + 20px, 36px);
  margin-bottom: 20px;
}
#upcycling .event_serve_title2 {
  font-size: clamp(16px, 1vw + 16px, 24px);
  line-height: 1.5;
}
#upcycling .img_title {
  padding-left: 50px;
}
#upcycling .product_set {
  max-width: 650px;
}
#upcycling .product_set img {
  width: 300px;
  height: 300px;
}
#upcycling .product_card {
  max-width: 301px;
  max-height: 374px;
  margin-bottom: 50px;
}
#upcycling .product_card1 img, #upcycling .product_card2 img, #upcycling .product_card4 img {
  transform: translateY(-20px);
}
#upcycling .product_card3 img {
  transform: translateY(-40px);
}
#upcycling .product_price_set {
  margin-top: 20px;
}
#upcycling .textbadge {
  gap: 13px;
}
#upcycling .tag2 {
  background-color: rgba(29, 34, 12, 0.5843137255);
  border-radius: 30px;
  padding: 5px 20px;
  font-size: clamp(16px, 1vw + 16px, 25px);
  line-height: var(--bs-body-line-height);
}
#upcycling .percent {
  font-size: clamp(40px, 2vw + 40px, 100px);
  font-family: "Pretendard-700";
}
#upcycling .ecombt1 {
  padding: 30px;
}
#upcycling .ecombt2 {
  padding: 30px;
  max-width: 667px;
  max-height: 140px;
}
#upcycling .banner_set {
  margin-top: 70px;
  gap: 5px;
}
@media (min-width: 991px) {
  #upcycling .banner_set {
    gap: 7px;
  }
}
@media (min-width: 1450px) {
  #upcycling .banner_set {
    gap: 10px;
  }
}
#upcycling .banner_set strong {
  font-size: clamp(14px, 1vw + 14px, 24px);
  line-height: 1.5;
}
#upcycling .banner_set span {
  font-size: 15px;
  line-height: 1.5;
  display: none;
}
@media (min-width: 991px) {
  #upcycling .banner_set span {
    display: block;
  }
}
#upcycling .banner_eco1,
#upcycling .banner_eco2 {
  padding: 23px 20px;
  background-size: 100%;
}
#upcycling .banner_eco1 {
  background-image: url(../img/eco_banner2.jpg);
}
#upcycling .banner_eco2 {
  background-image: url(../img/eco_banner1.jpg);
}
#upcycling .h300 {
  height: 300px !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  #minimal .container_1450 {
    flex-direction: column; /* 세로 배치 */
    gap: 2rem; /* 요소 간격 */
    padding: 2rem 1rem; /* 좌우 여백 */
  }
  /* 왼쪽 배너 */
  #minimal .ex1_banner {
    width: 100%;
    justify-content: center;
  }
  /* 제품 리스트 */
  #minimal .product_set {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }
  #minimal .product_set li {
    width: 100%;
  }
  #minimal .banner_set {
    padding: 1rem;
  }
  #minimal .bottom-banner {
    width: 100%;
    padding: 10px;
  }
}
#minimal .ex1_banner {
  width: 670px;
  flex-shrink: 0;
}
#minimal .ex1_banner .img-wrapper {
  position: fixed;
  width: 100%;
  height: auto;
}
#minimal .event_main_title1 {
  color: #713131;
  font-size: 100px;
  font-family: "Pretendard-700";
  line-height: 150%;
  letter-spacing: -1.1px;
  margin-left: 64px;
}
#minimal .event_serve_title1 {
  color: #713131;
  font-size: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-family: "Pretendard-700";
  line-height: 30px;
  letter-spacing: -0.264px;
  margin-left: 55px;
}
#minimal .event_title1 {
  font-size: 64px;
  font-family: "Pretendard-700";
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  line-height: normal;
  margin-bottom: 100px;
  letter-spacing: -2px;
}
#minimal .percent {
  margin-left: auto;
  font-size: 100px;
  font-family: "Pretendard-700";
}
#minimal .badge {
  background: #713131;
  font-size: 15px;
  width: 55px;
  height: 55px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#minimal .product_set {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
#minimal .product-text {
  width: 300px;
  height: 56px;
  gap: 20px;
  flex-shrink: 0;
}
#minimal .product_price_set {
  width: 340px;
  height: 18px;
}
#minimal .product_price_set .prod_cost {
  align-self: stretch;
  line-height: normal;
}
#minimal .product_price_set .prod_price {
  line-height: normal;
}
#minimal .bottom-banner {
  margin-top: 80px;
  background-image: url(../img/product/mi_bottom_bg_img.jpg);
  background-size: cover;
  background-position: center 46%;
  background-repeat: no-repeat;
  padding: 40px 100px;
  font-size: 30px;
  font-family: "Pretendard-600";
}
#minimal .tag {
  background: #713131;
  height: fit-content;
}
#minimal .bg-img {
  background: url("../img/product/event1_main.jpg") no-repeat center center;
  background-size: cover;
  padding: 40px;
}

#taste .slide-title {
  font-size: 38px;
  font-family: "Pretendard-700";
}
#taste .slide_mid_title {
  font-size: 16px;
  color: #999;
  margin-left: 110px;
}
#taste .slide-question {
  font-family: "Pretendard-700";
  font-size: 30px;
  line-height: normal;
}
#taste .swiper-scrollbar {
  width: 500px;
  height: 2px;
  background: #ddd;
}
#taste .swiper-pagination {
  font-size: 14px;
  color: #333;
  min-width: 40px;
  white-space: nowrap;
}
#taste .options {
  gap: 35px;
  padding-top: 140px;
}
#taste .option-btn {
  border: 2px solid #909090;
  padding: 20px 90px;
  transition: all 0.3s;
  font-family: "Pretendard-600";
}
#taste .option-btn:hover {
  background-color: #eee !important;
}
#taste .swiper-button-next,
#taste .swiper-button-prev {
  color: black;
  top: calc(50% + 3.5rem);
  z-index: 10;
}
#taste .swiper-button-prev {
  left: 20px;
}
#taste .swiper-button-next {
  right: 20px;
}
#taste .top_fixed_box {
  z-index: 10;
}
#taste .progress-fixed-wrapper {
  gap: 10px;
  width: 400px;
  top: calc(50% + 2.5rem);
  left: 108px;
}
#taste .taste_icon {
  width: 68.333px;
  height: 50px;
}
#taste .q_num {
  color: #713131;
  font-family: "Pretendard-700";
}
#taste .icon_text {
  font-size: 18px;
  font-family: "Pretendard-500";
  line-height: normal;
}
#taste .position-unset {
  position: unset !important;
}

#quick {
  top: calc(55% + 3rem);
  right: 10px;
  z-index: 1000;
}
#quick ul {
  list-style: none;
}
#quick a.quick-btn {
  font-family: "Pretendard-500";
  width: 93px;
  height: 93px;
  background-color: #713131;
  font-size: 17px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quick a.quick-btn:hover, #quick a.quick-btn:focus {
  background-color: #a8a39f;
  outline: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  padding-left: 0;
  list-style: none;
}

.row {
  padding-left: 0;
  padding-right: 0;
}

/* gnb */
.container_fluid {
  background-color: #713131;
  height: 120px;
  padding: 0 110px;
}
.container_fluid .gnb {
  gap: 55px;
}
.container_fluid .gnb .gnb_li_a {
  font-size: 25px;
}
.container_fluid .gnb .gnb_li_a_bold {
  font-size: 25px;
}

.global_bt {
  font-size: 20px;
  gap: 5px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 50px;
  border: white solid 1.5px;
  margin-left: 25px;
}
.global_bt svg.global_icon {
  transition: fill 0.2s ease;
  color: currentColor;
}
.global_bt:hover {
  background-color: white !important;
  color: #713131 !important;
}
.global_bt:hover svg.global_icon {
  color: currentColor;
}

.scalebanner > * {
  padding: 2vw;
  height: 1020px;
  background-size: 100%;
  background-position: center;
  transition: all 0.25s ease;
}
.scalebanner > *:hover {
  background-size: 120%;
}
.scalebanner .scalechild1 {
  background-image: url(../img/minimal_size.jpg);
}
.scalebanner .scalechild1 h3 {
  font-family: "Pretendard-700";
  font-size: 150px;
  color: #713131;
  letter-spacing: -0.64px;
}
.scalebanner .scalechild1 p {
  font-family: "Pretendard-700";
  font-size: 64px;
  color: #713131;
  letter-spacing: -3.5px;
}
.scalebanner .scalechild1 span {
  font-family: "Pretendard-400";
  font-size: 30px;
  color: #713131;
  line-height: normal;
}
.scalebanner .scalechild2 {
  background-image: url(../img/upcycling_size.jpg);
}
.scalebanner .scalechild2 h3 {
  font-family: "Pretendard-700";
  font-size: 150px;
  transform: rotate(-90deg);
  left: -40%;
  top: 24%;
}
.scalebanner .scalechild2 p {
  font-family: "Pretendard-700";
  font-size: 64px;
}
.scalebanner .scalechild2 span {
  font-family: "Pretendard-400";
  font-size: 30px;
  margin-bottom: 120px;
}
.scalebanner .scalechild3 {
  background-image: url(../img/primium_size.jpg);
}
.scalebanner .scalechild3 h3 {
  font-family: "Pretendard-700";
  font-size: 130px;
}
.scalebanner .scalechild3 p {
  font-family: "Pretendard-700";
  font-size: 64px;
  letter-spacing: -0.64px;
}
.scalebanner .scalechild3 span {
  font-family: "Pretendard-400";
  font-size: 30px;
}

.event_section3 {
  background-image: url(../img/premium_planning.jpg);
  background-position: bottom right;
}

.event3 {
  height: 500px;
  padding: 2vw;
}
.event3::after {
  font-family: "Pretendard-700";
  content: "Premium ~20%";
  font-size: 6.25rem;
  color: #ffffff;
  opacity: 0.9;
  text-align: right;
  letter-spacing: -1.1px;
  position: absolute;
  right: 2vw;
  bottom: 1vw;
}
.event3 .event_main_title3 {
  font-family: "Pretendard-700";
  font-size: 3.125rem;
  letter-spacing: -0.55px;
  line-height: 1.3;
}
.event3 .event_title3 {
  font-family: "Pretendard-500";
  font-size: 2.188rem;
  opacity: 0.7;
  letter-spacing: -0.385px;
}

.tag {
  background-color: #713131;
  margin-top: 0.5rem;
}

.premium_mySwiper {
  margin: 70px auto 0;
  padding: 0 50px;
}
.premium_mySwiper .swiper-slide {
  width: 300px;
}
.premium_mySwiper .swiper-button-prev,
.premium_mySwiper .swiper-button-next {
  color: #ADADAD;
}

.img {
  background-color: #F5F5F5;
  width: 300px;
  height: 300px;
}

#yeseul .img3list ul {
  gap: 20px;
  list-style: none;
}
#yeseul .img3title p {
  font-size: 17px;
  color: #000;
  opacity: 50%;
  font-family: "Pretendard-500";
  line-height: 20px;
}
#yeseul .img3title h3 {
  font-size: 50px;
  color: #000;
  font-family: "Pretendard-700";
}
#yeseul .content-container {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 50px;
}
#yeseul button {
  width: 173px;
  height: 68px;
  background-color: #713131;
  font-family: "Pretendard-600";
  border-radius: 150px;
  font-size: 20px;
  border: 0;
}

#hd {
  position: absolute;
  left: 0;
  right: 0;
}
#hd.fixed-top {
  position: fixed !important;
}